<%- include ("../partials/header") %>
<div>Add Comment</div>
<div>Delete</div>
<div>Edit</div>
<body>
    <div class="container">
        <img src="<%= blog.image %>" alt="">
    </div>

    <main role="main" class="container">
        <h3 class="pb-3 mb-4 font-italic border-bottom">
            <%= blog.category %> 
        </h3>

        <div class="blog-post">
            <h2 class="blog-post-title"><%= blog.title %> </h2>
            <%- marked(blog.body) %>
            <div class="row">
                <p class="blog-post-meta col-lg-8 my-5"><%= moment(blog.date).format('L'); %> <a href="#"><%= blog.author.username %> </a></p>
                <div class="float-right col-lg-4 my-5">
                    <% blog.tags.forEach(seed => { %>
                        <button class="btn btn-outline-success float-right btn-xs"><%= seed %></button>
                    <% }); %> 
                </div>
            </div>
        </div><!-- /.blog-post -->

        <nav class="blog-pagination">
            <a class="btn btn-outline-primary float-right" href="/blogs">Back</a>
            <% if(currentUser && currentUser.username === 'jiaqsun@bu.edu'){ %>
                <form id="delete-form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-xs btn-danger">Delete</button>
                </form>
            <% }%>
        </nav>

    </main><!-- /.container -->
<%- include ("../partials/footer") %>